/* ---------- base ---------- */
:root {
  --white-color: #fff;
  --black-color: #333333;
  --base-color: #F8F9FA;
  --main-color: #FFCC58;
  --main-gradation-color: #FDCB58;
  --accent-color: #2A4D69;
  --point-color: #5BC0EB;
  --gray-color: #666666;
}

:root {
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

img {
  height: 100%;
}

/* ---------- layout ---------- */
.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}

/* ---------- l_header ----------- */
.l_header {
  height: 72px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
  background-color: var(--white-color);
  position: fixed;
  z-index: var(--z-index-header);
}

@media screen and (min-width: 1088px) {
  .l_header {
    height: 80px;
    padding: 0 0 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .l_header {
    height: 80px;
    padding: 0 0 0 100px;
  }
}

.l_header-logo {
  height: 100%;
}

.l_header-logo_link {
  display: flex;
  align-items: center;
  gap: 0 8px;
  height: 100%;
}

.l_header-logo_icon {
  width: 48px;
  height: 48px;
}

.l_header-logo_txt {
  font-size: 20px;
  font-weight: bold;
  font-family: 'myriad-pro', "Noto Sans JP", sans-serif;
}

.l_header-menu {
  height: calc(100vh - 72px);
  width: 300px;
  position: fixed;
  top: 72px;
  right: 0;
  bottom: 0;
  background-color: var(--base-color);
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 1088px) {
  .l_header-menu {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    top: 0;
    right: 0;
    background-color: var(--white-color);
  }
}

@media screen and (min-width: 1088px) {
  .l_header-nav {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1088px) {
  .l_header-nav_list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.l_header-nav_item {
  padding: 16px;
  border-bottom: 4px solid var(--white-color);
  position: relative;
  cursor: pointer;
}

.l_header-nav_item.is-open {
  padding: 16px 16px 0 16px; /* サブメニューが開いたときの余白 */
}

@media screen and (min-width: 1088px) {
  .l_header-nav_item.is-open {
    padding: 0; /* サブメニューが開いたときの余白 */
  }
}

@media screen and (min-width: 1088px) {
  .l_header-nav_item {
    height: 100%;
    border-bottom: none;
    padding: 0;
  }
}

@media screen and (min-width: 1088px) {
  .l_header-nav_item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
  }

  .l_header-nav_item:hover::after {
    width: 100%;
  }
}

.l_header-nav_link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}


.l_header-nav_link:hover .m_arrow-wrapper {
  transform: translateX(5px);
}

.l_header-nav_item:nth-child(3n) .l_header-nav_link:hover .m_arrow-wrapper {
  transform: translateY(5px);
}


.l_header-nav_head {
  font-weight: bold;
}

.l_header-subnav_list {
  height: 0; /* 初期状態で非表示 */
  overflow: hidden; /* 内容がはみ出さないようにする */
  background-color: var(--base-color); /* 必要に応じて背景色を指定 */
  transition: height 0.3s ease, margin-top 0.03s ease; /* スムーズなスライド */
}

@media screen and (min-width: 1088px) {
  .l_header-subnav_list {
    position: absolute;
    top: 100%; /* l_header の高さに合わせる */
    left: 0;
    width: 100%; /* 横幅は親要素全体に揃える */
  }
}

.l_header-subnav_list.is-open {
  margin-top: 16px; /* "open" クラスがあるときだけ適用 */
  width: 286px;
}

@media screen and (min-width: 1088px) {
  .l_header-subnav_list.is-open {
    margin-top: 0; /* "open" クラスがあるときだけ適用 */
  }
}

.l_header-subnav_item {
  padding: 16px 48px 16px 16px;
  border-top: 2px solid var(--white-color);
}

.l_header-subnav_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l_header-subnav_link:hover .m_arrow-wrapper {
  transform: translateX(5px);
}

.l_header-submenu_head {
  height: 100%;
  display: flex;
  /* align-items: center; */
  gap: 16px;
}

.l_header-subnav_img-wrapper {
  width: 24px;
  /* height: 24px; */
}

.l_header-subnav_txt {
  font-weight: bold;
  font-size: 14px;
}

.l_header-menu_ctas {
  display: flex;
  height: 100px;
}

@media screen and (min-width: 1088px) {
  .l_header-menu_ctas {
    height: 80px;
  }
}

.l_header-menu_cta {
  height: 100%;
  width: 150px;
}

@media screen and (min-width: 1088px) {
  .l_header-menu_cta {
    width: 100px;
  }
}

.l_header-menu_cta__link {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.l_header-menu_cta_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.l_header-menu_cta__recruit {
  background-color: var(--point-color);
  transition: background-color 0.3s ease;
}

.l_header-menu_cta__recruit:hover {
  background-color: var(--accent-color);
}


.l_header-menu_cta__contact {
  background-color: var(--main-color);
  transition:  opacity 0.3s ease;
}

.l_header-menu_cta__contact:hover {
  opacity: 0.7;
}

.l_header-menu_cta_img-wrapper {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.l_header-menu_cta_head {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--base-color);
}

/* ---------- m_hamburger ---------- */
.m_hamburger {
  width: 32px;
  height: 24px;
  /* 高さと幅実数指定 */
  position: relative;
  /* barの位置指定のための基準 */
  z-index: var(--z-index-menu);
  /* 150（headerは100） */
}

@media screen and (min-width: 1088px) {
  .m_hamburger {
    display: none;
    /* PCサイズでhamburgerメニューは非表示 */
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 3px;
  display: block;
  /* インライン要素にはブロックレベル要素と同様に
  幅や高さを指定することができます。
  したがって、<span>要素にwidthやheightを指定することは有効です。
  ただし、インライン要素に width と height を指定した場合、その要素は指定された幅と高さを持ちますが、その要素が周囲の要素とどのように相互作用するかは異なります。
  インライン要素は通常、テキストなどの他の要素と横並びに表示されるため、その幅と高さはそのコンテンツに合わせて調整される可能性があります。
  そのため、width と height の指定は、周囲のレイアウトや要素との相互作用に影響を与えることがあります。
  一方、ブロック要素は通常、幅と高さを持ち、その要素が親要素内でどのようにレイアウトされるかを制御します。したがって、通常はブロック要素に width と height を指定する方が適しています。 */
  position: absolute;
  left: 50%;
  /* 左から50% */
  background: var(--black-color);
  transition: 0.3s;
  /* hamburgerとバツ印のアニメーションの切り替わりが緩やかに */
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
  /* translate(x, y)
  xは横軸。left: 50%した後の要素の半分を戻すために―50%。※3本共通
  yは縦軸。hamburger―barの上のラインがhamburgerの上のラインに重なるため上手く収まっており調整しなくてよい。 */
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
/* translate(x, y)
  xは横軸。left: 50%した後の要素の半分を戻すために―50%。※3本共通
  yは縦軸。top:50%;としたことでhamburger―barの上のラインがhamburgerの中央のラインに重なるため中央配置になっていない。
  hamburger―barの要素の半分だけ上に配置させて中央配置させる。*/
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
  /* translate(x, y)
  xは横軸。left: 50%した後の要素の半分を戻すために―50%。※3本共通
  yは縦軸。top:100%;としたことでhamburger―barの上のラインがhamburgerの下のラインに重なるため、うまく枠に収まっていない。
  hamburger―barの要素の全部を上に移動させてhamburger―barの下のラインがhamburgerの下のラインに重なるようにする。*/
}

/* ---------- js/ l_header-nav & m_hamburger ---------- */
.js_body.is-active {
  overflow: hidden;
  /* スマホでハンバーガーメニュー表示時には
  画面全体のスクロールを固定する。
  ※overflow: hidden;をbody要素に適用することで、画面全体のスクロールを固定することができます。
  そもそもスクロールできるのは縦長にな画面幅をはみ出しているから。
  そのはみ出した部分をoverflow: hidden;することで見えている画面よりも高さを持たなくなり固定される。*/}
.js_navigation {
  /* SP時（ハンバーガーメニュークリックされていない
  ＝ナビゲーションメニュー開いておらず透明で重なっている） */
  pointer-events: none;
  /* その要素にマウスやタッチイベントの対象としての機能を
  無効にする効果があります。
  具体的には、その要素に対するマウスイベントやタッチイベントが無視され、
  その下の要素にイベントが透過されるようになります。
  例えば、pointer-events: none; を持つ要素の上に別の要素がある場合、
  通常はその上の要素にマウスイベントが伝播されません。
  そのため、ユーザーがその要素上でクリックしたり、
  マウスオーバーしたりすることができません。
  このプロパティは、特定の要素をクリック可能な状態から
  外す必要がある場合や、要素が画面上に表示されるがイベントを
  受け付けないようにする場合に有用です。 */

  opacity: 0;
  /* 透明で画面いっぱいに重なっている */
  
  transition: opacity 0.5s;
  /* 透明の切り替わりが若干緩やかに */
}

@media screen and (min-width: 1088px) {
  .js_navigation {
    /* PC時の指定 （navigationは白バック縦並びではなく
    header-logoと横並び表示）
    ※横並び指定や主なスタイルは「.l_header-nav」当たりで指定済み
    ここでは上記SP時の「js_navigation」の指定を取り消す
    ※SP時ではis-activeによって表示非表示を切り替えるが
    PC時ではis-activeがなくても表示*/
    pointer-events: auto;
    /* 要素に対するマウスやタッチイベントの対象としての機能を
    有効にする効果があります。つまり、このプロパティを指定することで、
    要素は通常通りマウスイベントやタッチイベントを受け付けるようになります。
    このプロパティは、none 値で無効にした pointer events を元に戻す際に使用されます。
    特定の要素においてマウスやタッチイベントの処理を再び有効にしたい場合に使われます。 */
    opacity: 1;
    /* 透明解除で表示 */
  }
}

.js_navigation.is-active {
  /* SP時（ハンバーガーメニューをクリックして白バック縦並びnavigation表示） */
  opacity: 1;
  /* 白バック縦並びナビゲーションメニュー表示 */

  pointer-events: inherit;
  /* 子要素は親要素の設定を引き継ぎ、
  親要素と同じ pointer events の振る舞いをするようになります
  親要素に直接 pointer-eventsプロパティが指定されていない場合、 
  pointer-events: inherit; は親要素のデフォルト値を継承します。
  通常、親要素のデフォルト値は auto です。
  つまり、pointer-events: inherit; を使用すると、
  親要素の pointer-events プロパティが auto の場合と同じように振る舞います。
  したがって、親要素の pointer-events プロパティのデフォルト値（通常は auto）を継承し、
  その要素にマウスイベントが有効になります。 */
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  /* js_hamburgerがis-activeになったときの、その子要素のm_hamburger-barのfirst-childのスタイル */
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  /* last-childと同じ高さにして反対の傾きにすることで「✕」になる。 */
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  /* js_hamburgerがis-activeになったときの、その子要素のm_hamburger-barのnth-child(2)のスタイル */
  opacity: 0;
  /* 透明にする */
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  /* js_hamburgerがis-activeになったときの、その子要素のm_hamburger-barのlast-childのスタイル */
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
  /* first-childと同じ高さにして反対の傾きにすることで「✕」になる。 */
}

/* ---------- m_arrow ---------- */
.m_arrow {
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  
  /* 追加 */
  transition: transform 0.3s ease;
}

.l_header-nav_item:nth-child(3).is-open > .l_header-nav_link .m_arrow {
  transform: rotate(-45deg); /* 上向き */
}

.l_header-nav_item:nth-child(3).is-open > .l_header-nav_link .m_arrow__bottom {
  transform: rotate(-45deg);
  top: 40%;
  left: 30%;
}

.m_arrow__right {
  /* transform: rotate(45deg) translateX(0); */
  transform: rotate(45deg);
}

.m_bottom-arrow {
  transform: rotate(135deg) translateX(0);
}


.m_arrow-wrapper {
  transition: transform 0.3s ease;
}


.m_arrow__round {
  width: 24px;
  height: 24px;
  border: 2px solid var(--accent-color);
  border-radius: 100vh;
  position: relative;
}

.m_arrow__round .m_arrow__right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: 24%;
}

.m_arrow__round .m_arrow__bottom {
  position: absolute;
  top: 25%;
  /* transform: translateY(-50%) rotate(135deg); */
  transform: rotate(135deg);
  left: 29%;
}

/* ---------- btn ---------- */
/* divのwrapperでボタンの横幅、縦幅、上下余白を指定 */
/* 共通 */
.m_btn {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* タグの中の要素（テキスト）を上下左右中央寄せ3点セット */
  transition: opacity 0.3s ease;
  /* ホバー時のかかる時間 */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  /* ボタンの影 */
  color: var(--white-color);
  font-weight: bold;
  overflow: hidden;
  /* 角がある「m_btn_input」を角を丸めた「m_btn」の幅と高さいっぱいに広げたことによりはみ出した部分を隠して丸みに収める */
}

.m_btn:hover {
  opacity: 0.9;
  /* m_btnをホバー時に0.9透明になる */
}

/* btn_right-arrow */
.m_btn__right-arrow {
  background: var(--main-color);
  display: flex;
  align-items: center;
  gap: 16px;
}

.m_btn__right-arrow:hover .m_arrow-wrapper {
  transform: translateX(5px);
}

.m_btn__right-arrow .m_arrow {
  border-top: 2px solid var(--base-color);
  border-right: 2px solid var(--base-color);
}

.m_btn__right-arrow .m_arrow__round {
  border: 2px solid var(--base-color);
}


/* ---------- form-cta ---------- */
.m_cta__form {
  padding: 80px 0;
  background: linear-gradient(to bottom, #FDEB71 0%, #FFCC58 60%, #FFCC58 100%);;
}

@media screen and (min-width: 450px) {
  .m_cta__form-inner {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .m_cta__form-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;
  }
}

.m_cta__form-txt {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 896px) {
  .m_cta__form-txt {
    font-size: 32px;
  }
}

.m_cta__form-tel {
  font-size: 32px;
  font-weight: bold;
  margin-top: 16px;
}

@media screen and (min-width: 896px) {
  .m_cta__form-tel {
    font-size: 40px;
  }
}

.m_cta__form-tel_txt {
  font-size: 28px;
  letter-spacing: 0;
}

@media screen and (min-width: 896px) {
  .m_cta__form-tel_txt {
    font-size: 40px;
  }
}

/* btn_form */
.m_form_btn-wrapper {
  margin: 40px auto 0;
  width: 343px;
  height: 64px;
}

.m_form_btn {
  background: var(--accent-color);
  transition: 0.5s ease;
}

.m_form_btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/mail-icon-w.svg) center /contain no-repeat;
  margin-left: 16px;
  transition: 0.5s ease;
}

.m_form_btn-wrapper:hover .m_form_btn {
  background: var(--white-color);
  color: var(--accent-color);
  border: 3px solid var(--accent-color);
}

.m_form_btn-wrapper:hover .m_form_btn::after {
  background: url(../images/mail-icon-b.svg) center /contain no-repeat;
}

@media screen and (min-width: 768px) {
  .m_cta__form .m_form_btn-wrapper {
    margin: 40px 0 0 auto;
  }
}

/* ---------- top-kv ---------- */
.top_kv {
  height: calc(100vh);
  max-height: 1000px;
  padding-top: 72px;
  background: linear-gradient(rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4));
}

@media screen and (min-width: 1080px) {
  .top_kv {
    padding-top: 80px;
  }
}

.top_kv-inner {
  position: relative;
  /* top_kv_boxとtop_kv―scrollをkvの上下左右中央配置にする基準。 */
  height: 100%;
  /* position:relative;によってheightが効かなくなるためheight:100% */
}

.top_kv_box {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  /* kvのなかでbox全体を上下左右中央寄せ */

  text-align: center;
  /* ボックス内のテキストを中央寄せ */

  width: 100%;
  /* ブロック要素はデフォルトでは親要素の幅いっぱいに広がります
  しかしdivタグはデフォルトでは親要素の幅いっぱいに広がりません。
  親要素の幅いっぱいに広げるためには、明示的にwidth: 100%;などのスタイル指定が必要
  top_kv-innerの幅いっぱいに広がる⇒top_kv-innerはl_container-lgで最大幅も指定されているため
  PC時はその幅に合わせて位置変更される */
}

@media screen and (min-width: 1088px) {
  .top_kv_box {
    text-align: left;
    left: 16px;
    transform: translateX(0);
    /* 親要素のtop_kv-innerと一緒に指定しているl_container-lgにはpadding：0 16px;が指定されているため、
    left:0;だと無視してしまう。余白分左から右に位置する。 */
  }
}

.top_kv_copy {
  font-size: 24px;
  font-weight: bold;
  color: var(--base-color);
  text-shadow: 2px 2px 2px rgba(170, 170, 170, 0.16);
}

@media screen and (min-width: 768px) {
  .top_kv_copy {
    font-size: 42px;
  }
}

@media screen and (min-width: 1088px) {
  .top_kv_copy {
    font-size: 48px;
  }
}

.top_kv_sub-copy {
  margin-top: 16px;
  /* copyとsub-copyの上下余白 */
  font-weight: bold;
  color: var(--base-color);
}

@media screen and (min-width: 768px) {
  .top_kv_sub-copy {
    font-size: 18px;
    margin-top: 2%;
    /* copyとsub-copyの上下余白 */
  }
}

/* ---------- top-section-title ---------- */
.top_section_title {
  text-align: center;
  position: relative;
}

.top_section_title::before,
.top_section_title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* 上下中央寄せ */
  height: 2px;
  width: calc((100% - 52px - 152px - 32px) / 2);
  /* 幅と高さ */
  background: var(--accent-color);
}

.top_section_title::before {
  left: 0;
}

.top_section_title::after {
  right: 0;
}

@media screen and (min-width: 1088px) {
  .top_section_title::before,
.top_section_title::after {
  width: calc((100% - 330px) / 2);
}
}   

.top_section_title_sub {
  font-size: 32px;
  color: var(--main-color);
  font-weight: bold;
}

@media screen and (min-width: 1088px) {
  .top_section_title_sub {
    font-size: 40px;
  }
}

.top_section_title_main {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 1088px) {
  .top_section_title_main {
    font-size: 32px;
  }
}

/* ---------- top_service ---------- */
.top_service_contents {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .top_service_content-box {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .top_service_content-box:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.top_service_content-box:not(:first-child) {
  margin-top: 40px;
}

.top_service_content-box_img-wrapper {
  width: 343px;
  height: 200px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .top_service_content-box_img-wrapper {
    flex-shrink: 0;
    width: 50%;
  }
}

.top_service_content {
  margin-top: 24px;
}

.top_service_content_head {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .top_service_content_head {
    text-align: left;
    font-size: 24px;
  }
}

.top_service_content_txt {
  margin-top: 24px;
}

.top-service_btn-wrapper {
  margin: 64px auto 0;
  max-width: 343px;
  height: 64px;
}


/* ---------- top_company ---------- */


/* ---------- top_access ---------- */